soil_sensor_dashboard.json
[
    {
        "id": "1c38872debedfd03",
        "type": "tab",
        "label": "Soil Sensor Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13194d74ba141af5",
        "type": "group",
        "z": "1c38872debedfd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e00f0f19ae85430c",
            "dbedad5f2aa1c47f",
            "18b7c18450f89d38",
            "e96480476f6148e8",
            "c2fb4250887a3bcf",
            "f186890926bb32cf",
            "8ab508fd187a76a7",
            "da735ea34c15aae7",
            "9364fc7a7b95f8fa",
            "1fff0d4839d3733f",
            "9b79e33ddd96600c",
            "ea75f5e8a67fd999",
            "616cdaebb11b70c2",
            "0b79eb54d4357784",
            "a0c409a0e98d077d",
            "786ac98442c97dbd",
            "a162f7827e4eba45",
            "24a63a3a845b9b18",
            "d787a026ead01c66",
            "62edc8a7a73d5ac5",
            "7ca135f2c347d9c2",
            "66b726f81813406e"
        ],
        "x": 94,
        "y": 59,
        "w": 1212,
        "h": 342
    },
    {
        "id": "220f83ebf102e7bf",
        "type": "group",
        "z": "1c38872debedfd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f32fdd924cba25ea",
            "ef5cc9004f0d11c0",
            "4d958da5dde3b87f",
            "c5603f384540afdf",
            "fe1357f062f19c0b",
            "4ebf79e0bb35e80c",
            "0afbf0b606022e64",
            "181351b71577372b",
            "9aeb3026fd8cb2c8",
            "7068949c7b8f75cf",
            "a782c5d65e93a488",
            "8d49cae4cd85336f",
            "40e17e7b437448d5",
            "9296969863a71256",
            "f575953f1065b21d",
            "e1d0560fe496fb2f",
            "4d8140ddb77db6f8",
            "692a313a9995febf",
            "37859277b31c3929",
            "90218ac850cdfa75",
            "625346b025c599b9",
            "b61c98bb5263e9fc"
        ],
        "x": 94,
        "y": 419,
        "w": 1212,
        "h": 342
    },
    {
        "id": "899d9b9e2b22d539",
        "type": "group",
        "z": "1c38872debedfd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0835a79f9f026a5c",
            "0a33242b81c3aaab",
            "6138042e238c887a",
            "823baa25b683013b",
            "f54a20d23c9b844b",
            "2986385bc9c2db71",
            "3fb0a6501f8b0d8d",
            "8c61d14d7363bd9b",
            "97d4b26bd53d79ff",
            "a889d076333d1739",
            "e3e2e3c5b7fd7eca",
            "2d98ee66a4f0edf0",
            "908960c771344a49",
            "480f22d087345714",
            "d65df08e9bb56e6f",
            "d3607e2a7017495d",
            "828183f93bec7bdf",
            "9da01625e14bc862",
            "ed843ec4d5a1fba1",
            "a7d838d661e714ea",
            "6706c4602dbb65fc",
            "058035e3adfa90f2"
        ],
        "x": 94,
        "y": 779,
        "w": 1212,
        "h": 342
    },
    {
        "id": "2162d783c16cd16b",
        "type": "group",
        "z": "1c38872debedfd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "37cbbd7344bd9c13",
            "3be916bbf9ed6c64",
            "4bebbe95db146bd0",
            "1c17e83ab9d0ce91",
            "63cafb1db38492c6",
            "390be2e866892975",
            "1a114dc9544c98de",
            "9eed662a5c8f61b6",
            "920756b72688880c",
            "97c0df4690822f27",
            "c8b26d17098f772f",
            "5785e9b0d1305e49",
            "1aa148a2f7bebf9a",
            "31714ee08fa90aa4",
            "ed82df83cea119a5",
            "88d5d41b67325d09",
            "4c87f51099aa2c0a",
            "38a01fcf8fd63456",
            "97281af6ee6cd475",
            "b12104ace572564c",
            "017df30556722f8c",
            "b6628e5521baf231"
        ],
        "x": 94,
        "y": 1159,
        "w": 1212,
        "h": 342
    },
    {
        "id": "ef945f45d99b1f23",
        "type": "group",
        "z": "1c38872debedfd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a2576b5b5a7818c9",
            "cedc44a87f2a7ea0",
            "652ad9493fbda555",
            "12935e482d2dcd27",
            "72e785f783461f6b",
            "e08d9d3911020d7e",
            "3b39a85a4401bf3f",
            "09367483814a4375",
            "50052891df74f02b",
            "1708858422042adc",
            "8c52e8f5a76a03db",
            "62b661bb42354d96",
            "b7906842e32ca339",
            "683652e61fb6c32a",
            "1befddb440ebe0e1",
            "8de9768da415dad6",
            "c6c8965321be71a2",
            "512dc37d40698c7b",
            "063b562d2c8b6208",
            "35106a0763f0643c",
            "a21b6429ee7db35a",
            "9b82a7bef292b644"
        ],
        "x": 94,
        "y": 1539,
        "w": 1212,
        "h": 342
    },
    {
        "id": "e00f0f19ae85430c",
        "type": "mongodb4",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "e96480476f6148e8",
                "8ab508fd187a76a7",
                "9364fc7a7b95f8fa",
                "1fff0d4839d3733f",
                "6d78a181feba120c"
            ]
        ]
    },
    {
        "id": "dbedad5f2aa1c47f",
        "type": "inject",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "18b7c18450f89d38"
            ]
        ]
    },
    {
        "id": "18b7c18450f89d38",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "1 Day Data",
        "func": "// Get the current date and time\nvar endDate = new Date();\n\n// Calculate the date 1 day before the current date\nvar startDate = new Date();\nstartDate.setDate(endDate.getDate() - 1);\n\n// Create the query object\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a840412881881c6a\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "e00f0f19ae85430c"
            ]
        ]
    },
    {
        "id": "e96480476f6148e8",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Temperature",
        "func": "var results = msg.payload; \nvar temperature_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.temp_soil).toFixed(2);\n\n    temperature_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Temperature of Soil\"],\n    \"data\": [\n        temperature_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "9b79e33ddd96600c",
                "24a63a3a845b9b18"
            ]
        ]
    },
    {
        "id": "c2fb4250887a3bcf",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Select Time",
        "label": "Select Time",
        "group": "b0ba5a219f0523bb",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "f186890926bb32cf"
            ]
        ]
    },
    {
        "id": "f186890926bb32cf",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "User Request",
        "func": "var endDate = new Date(msg.payload.endDate);\nvar startDate = new Date(msg.payload.startDate);\n\nif (msg.payload.dataDownload) {\n    var dataDownload = msg.payload.dataDownload;\n    msg.action = 'normal';\n}\n\nif (msg.payload.dataDownload1) {\n    var dataDownload = msg.payload.dataDownload1;\n    msg.action = 'seperate';\n}\n\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a840412881881c6a\"\n};\n\nmsg.dataDownload = dataDownload;\nmsg.device_id = \"device1\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "e00f0f19ae85430c"
            ]
        ]
    },
    {
        "id": "8ab508fd187a76a7",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Water",
        "func": "var results = msg.payload;\nvar water_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.water_soil).toFixed(2);\n\n    water_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        water_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "ea75f5e8a67fd999",
                "d787a026ead01c66"
            ]
        ]
    },
    {
        "id": "da735ea34c15aae7",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "",
        "group": "b0ba5a219f0523bb",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "18b7c18450f89d38"
            ]
        ]
    },
    {
        "id": "9364fc7a7b95f8fa",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Conductivity",
        "func": "var results = msg.payload;\nvar conduct_soil = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.conduct_soil).toFixed(2);\n\n    conduct_soil.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        conduct_soil\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "616cdaebb11b70c2",
                "62edc8a7a73d5ac5"
            ]
        ]
    },
    {
        "id": "1fff0d4839d3733f",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Battery Voltage",
        "func": "var results = msg.payload;\nvar battery_voltage = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.battery_voltage).toFixed(2);\n\n    battery_voltage.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        battery_voltage\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 340,
        "wires": [
            [
                "0b79eb54d4357784",
                "7ca135f2c347d9c2"
            ]
        ]
    },
    {
        "id": "9b79e33ddd96600c",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Temperature of Soil",
        "group": "b0ba5a219f0523bb",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ea75f5e8a67fd999",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Water in Soil",
        "group": "b0ba5a219f0523bb",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "616cdaebb11b70c2",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Conductivity of Soil",
        "group": "b0ba5a219f0523bb",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0b79eb54d4357784",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Battery Voltage",
        "group": "b0ba5a219f0523bb",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a0c409a0e98d077d",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "group": "b0ba5a219f0523bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "f32fdd924cba25ea",
        "type": "mongodb4",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "c5603f384540afdf",
                "0afbf0b606022e64",
                "9aeb3026fd8cb2c8",
                "7068949c7b8f75cf",
                "6d78a181feba120c"
            ]
        ]
    },
    {
        "id": "ef5cc9004f0d11c0",
        "type": "inject",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "4d958da5dde3b87f"
            ]
        ]
    },
    {
        "id": "4d958da5dde3b87f",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "1 Day Data",
        "func": "// Get the current date and time\nvar endDate = new Date();\n\n// Calculate the date 1 day before the current date\nvar startDate = new Date();\nstartDate.setDate(endDate.getDate() - 1);\n\n// Create the query object\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a8404111d1881c80\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "f32fdd924cba25ea"
            ]
        ]
    },
    {
        "id": "c5603f384540afdf",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Temperature",
        "func": "var results = msg.payload; \nvar temperature_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.temp_soil).toFixed(2);\n\n    temperature_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Temperature of Soil\"],\n    \"data\": [\n        temperature_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 520,
        "wires": [
            [
                "a782c5d65e93a488",
                "692a313a9995febf"
            ]
        ]
    },
    {
        "id": "fe1357f062f19c0b",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Select Time",
        "label": "Select Time",
        "group": "ab874b0e93334cc4",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "4ebf79e0bb35e80c"
            ]
        ]
    },
    {
        "id": "4ebf79e0bb35e80c",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "User Request",
        "func": "var endDate = new Date(msg.payload.endDate);\nvar startDate = new Date(msg.payload.startDate);\n\nif (msg.payload.dataDownload) {\n    var dataDownload = msg.payload.dataDownload;\n    msg.action = 'normal';\n}\n\nif (msg.payload.dataDownload1) {\n    var dataDownload = msg.payload.dataDownload1;\n    msg.action = 'seperate';\n}\n\n\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a8404111d1881c80\"\n};\n\nmsg.dataDownload = dataDownload;\nmsg.device_id = \"device2\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "f32fdd924cba25ea"
            ]
        ]
    },
    {
        "id": "0afbf0b606022e64",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Water",
        "func": "var results = msg.payload;\nvar water_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.water_soil).toFixed(2);\n\n    water_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        water_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 580,
        "wires": [
            [
                "8d49cae4cd85336f",
                "37859277b31c3929"
            ]
        ]
    },
    {
        "id": "181351b71577372b",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "",
        "group": "ab874b0e93334cc4",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "4d958da5dde3b87f"
            ]
        ]
    },
    {
        "id": "9aeb3026fd8cb2c8",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Conductivity",
        "func": "var results = msg.payload;\nvar conduct_soil = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.conduct_soil).toFixed(2);\n\n    conduct_soil.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        conduct_soil\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "40e17e7b437448d5",
                "90218ac850cdfa75"
            ]
        ]
    },
    {
        "id": "7068949c7b8f75cf",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Battery Voltage",
        "func": "var results = msg.payload;\nvar battery_voltage = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.battery_voltage).toFixed(2);\n\n    battery_voltage.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        battery_voltage\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 700,
        "wires": [
            [
                "9296969863a71256",
                "625346b025c599b9"
            ]
        ]
    },
    {
        "id": "a782c5d65e93a488",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Temperature of Soil",
        "group": "ab874b0e93334cc4",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8d49cae4cd85336f",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Water in Soil",
        "group": "ab874b0e93334cc4",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "40e17e7b437448d5",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Conductivity of Soil",
        "group": "ab874b0e93334cc4",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9296969863a71256",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Battery Voltage",
        "group": "ab874b0e93334cc4",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f575953f1065b21d",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "group": "ab874b0e93334cc4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "0835a79f9f026a5c",
        "type": "mongodb4",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "823baa25b683013b",
                "3fb0a6501f8b0d8d",
                "97d4b26bd53d79ff",
                "a889d076333d1739",
                "6d78a181feba120c"
            ]
        ]
    },
    {
        "id": "0a33242b81c3aaab",
        "type": "inject",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "6138042e238c887a"
            ]
        ]
    },
    {
        "id": "6138042e238c887a",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "1 Day Data",
        "func": "// Get the current date and time\nvar endDate = new Date();\n\n// Calculate the date 1 day before the current date\nvar startDate = new Date();\nstartDate.setDate(endDate.getDate() - 1);\n\n// Create the query object\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a84041e0c1881c65\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "0835a79f9f026a5c"
            ]
        ]
    },
    {
        "id": "823baa25b683013b",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Temperature",
        "func": "var results = msg.payload; \nvar temperature_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.temp_soil).toFixed(2);\n\n    temperature_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Temperature of Soil\"],\n    \"data\": [\n        temperature_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 880,
        "wires": [
            [
                "e3e2e3c5b7fd7eca",
                "9da01625e14bc862"
            ]
        ]
    },
    {
        "id": "f54a20d23c9b844b",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Select Time",
        "label": "Select Time",
        "group": "a60134d115fb105c",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "2986385bc9c2db71"
            ]
        ]
    },
    {
        "id": "2986385bc9c2db71",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "User Request",
        "func": "var endDate = new Date(msg.payload.endDate);\nvar startDate = new Date(msg.payload.startDate);\n\nif (msg.payload.dataDownload) {\n    var dataDownload = msg.payload.dataDownload;\n    msg.action = 'normal';\n}\n\nif (msg.payload.dataDownload1) {\n    var dataDownload = msg.payload.dataDownload1;\n    msg.action = 'seperate';\n}\n\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a84041e0c1881c65\"\n};\n\nmsg.dataDownload = dataDownload;\nmsg.device_id = \"device3\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "0835a79f9f026a5c"
            ]
        ]
    },
    {
        "id": "3fb0a6501f8b0d8d",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Water",
        "func": "var results = msg.payload;\nvar water_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.water_soil).toFixed(2);\n\n    water_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        water_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 940,
        "wires": [
            [
                "2d98ee66a4f0edf0",
                "ed843ec4d5a1fba1"
            ]
        ]
    },
    {
        "id": "8c61d14d7363bd9b",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "",
        "group": "a60134d115fb105c",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "6138042e238c887a"
            ]
        ]
    },
    {
        "id": "97d4b26bd53d79ff",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Conductivity",
        "func": "var results = msg.payload;\nvar conduct_soil = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.conduct_soil).toFixed(2);\n\n    conduct_soil.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        conduct_soil\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "908960c771344a49",
                "a7d838d661e714ea"
            ]
        ]
    },
    {
        "id": "a889d076333d1739",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Battery Voltage",
        "func": "var results = msg.payload;\nvar battery_voltage = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.battery_voltage).toFixed(2);\n\n    battery_voltage.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        battery_voltage\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1060,
        "wires": [
            [
                "480f22d087345714",
                "6706c4602dbb65fc"
            ]
        ]
    },
    {
        "id": "e3e2e3c5b7fd7eca",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Temperature of Soil",
        "group": "a60134d115fb105c",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2d98ee66a4f0edf0",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Water in Soil",
        "group": "a60134d115fb105c",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "908960c771344a49",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Conductivity of Soil",
        "group": "a60134d115fb105c",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "480f22d087345714",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Battery Voltage",
        "group": "a60134d115fb105c",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d65df08e9bb56e6f",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "group": "a60134d115fb105c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 3",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "37cbbd7344bd9c13",
        "type": "mongodb4",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 1340,
        "wires": [
            [
                "1c17e83ab9d0ce91",
                "1a114dc9544c98de",
                "920756b72688880c",
                "97c0df4690822f27",
                "6d78a181feba120c"
            ]
        ]
    },
    {
        "id": "3be916bbf9ed6c64",
        "type": "inject",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "4bebbe95db146bd0"
            ]
        ]
    },
    {
        "id": "4bebbe95db146bd0",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "1 Day Data",
        "func": "// Get the current date and time\nvar endDate = new Date();\n\n// Calculate the date 1 day before the current date\nvar startDate = new Date();\nstartDate.setDate(endDate.getDate() - 1);\n\n// Create the query object\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a84041ffb1881c77\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1340,
        "wires": [
            [
                "37cbbd7344bd9c13"
            ]
        ]
    },
    {
        "id": "1c17e83ab9d0ce91",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Temperature",
        "func": "var results = msg.payload; \nvar temperature_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.temp_soil).toFixed(2);\n\n    temperature_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Temperature of Soil\"],\n    \"data\": [\n        temperature_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "c8b26d17098f772f",
                "38a01fcf8fd63456"
            ]
        ]
    },
    {
        "id": "63cafb1db38492c6",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Select Time",
        "label": "Select Time",
        "group": "f5ba2cb56977521d",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "390be2e866892975"
            ]
        ]
    },
    {
        "id": "390be2e866892975",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "User Request",
        "func": "var endDate = new Date(msg.payload.endDate);\nvar startDate = new Date(msg.payload.startDate);\n\nif (msg.payload.dataDownload) {\n    var dataDownload = msg.payload.dataDownload;\n    msg.action = 'normal';\n}\n\nif (msg.payload.dataDownload1) {\n    var dataDownload = msg.payload.dataDownload1;\n    msg.action = 'seperate';\n}\n\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a84041ffb1881c77\"\n};\n\nmsg.dataDownload = dataDownload;\nmsg.device_id = \"device4\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1420,
        "wires": [
            [
                "37cbbd7344bd9c13"
            ]
        ]
    },
    {
        "id": "1a114dc9544c98de",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Water",
        "func": "var results = msg.payload;\nvar water_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.water_soil).toFixed(2);\n\n    water_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        water_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1320,
        "wires": [
            [
                "5785e9b0d1305e49",
                "97281af6ee6cd475"
            ]
        ]
    },
    {
        "id": "9eed662a5c8f61b6",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "",
        "group": "f5ba2cb56977521d",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "4bebbe95db146bd0"
            ]
        ]
    },
    {
        "id": "920756b72688880c",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Conductivity",
        "func": "var results = msg.payload;\nvar conduct_soil = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.conduct_soil).toFixed(2);\n\n    conduct_soil.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        conduct_soil\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "1aa148a2f7bebf9a",
                "b12104ace572564c"
            ]
        ]
    },
    {
        "id": "97c0df4690822f27",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Battery Voltage",
        "func": "var results = msg.payload;\nvar battery_voltage = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.battery_voltage).toFixed(2);\n\n    battery_voltage.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        battery_voltage\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1440,
        "wires": [
            [
                "31714ee08fa90aa4",
                "017df30556722f8c"
            ]
        ]
    },
    {
        "id": "c8b26d17098f772f",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Temperature of Soil",
        "group": "f5ba2cb56977521d",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "5785e9b0d1305e49",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Water in Soil",
        "group": "f5ba2cb56977521d",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1aa148a2f7bebf9a",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Conductivity of Soil",
        "group": "f5ba2cb56977521d",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "31714ee08fa90aa4",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Battery Voltage",
        "group": "f5ba2cb56977521d",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "ed82df83cea119a5",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "group": "f5ba2cb56977521d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 4",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 540,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a2576b5b5a7818c9",
        "type": "mongodb4",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 1720,
        "wires": [
            [
                "12935e482d2dcd27",
                "3b39a85a4401bf3f",
                "50052891df74f02b",
                "1708858422042adc",
                "6d78a181feba120c"
            ]
        ]
    },
    {
        "id": "cedc44a87f2a7ea0",
        "type": "inject",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 1720,
        "wires": [
            [
                "652ad9493fbda555"
            ]
        ]
    },
    {
        "id": "652ad9493fbda555",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "1 Day Data",
        "func": "// Get the current date and time\nvar endDate = new Date();\n\n// Calculate the date 1 day before the current date\nvar startDate = new Date();\nstartDate.setDate(endDate.getDate() - 1);\n\n// Create the query object\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a840416c21881c78\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "a2576b5b5a7818c9"
            ]
        ]
    },
    {
        "id": "12935e482d2dcd27",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Temperature",
        "func": "var results = msg.payload; \nvar temperature_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.temp_soil).toFixed(2);\n\n    temperature_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Temperature of Soil\"],\n    \"data\": [\n        temperature_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1640,
        "wires": [
            [
                "8c52e8f5a76a03db",
                "512dc37d40698c7b"
            ]
        ]
    },
    {
        "id": "72e785f783461f6b",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Select Time",
        "label": "Select Time",
        "group": "7e566a81e6655eca",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1800,
        "wires": [
            [
                "e08d9d3911020d7e"
            ]
        ]
    },
    {
        "id": "e08d9d3911020d7e",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "User Request",
        "func": "var endDate = new Date(msg.payload.endDate);\nvar startDate = new Date(msg.payload.startDate);\n\nif (msg.payload.dataDownload) {\n    var dataDownload = msg.payload.dataDownload;\n    msg.action = 'normal';\n}\n\nif (msg.payload.dataDownload1) {\n    var dataDownload = msg.payload.dataDownload1;\n    msg.action = 'seperate';\n}\n\nmsg.payload = {\n    \"timestamp\": {\n        \"$gte\": startDate,\n        \"$lte\": endDate\n    },\n    \"device_id\": \"eui-a840416c21881c78\"\n};\n\nmsg.dataDownload = dataDownload;\nmsg.device_id = \"device5\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1800,
        "wires": [
            [
                "a2576b5b5a7818c9"
            ]
        ]
    },
    {
        "id": "3b39a85a4401bf3f",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Water",
        "func": "var results = msg.payload;\nvar water_data = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.water_soil).toFixed(2);\n\n    water_data.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        water_data\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1700,
        "wires": [
            [
                "62b661bb42354d96",
                "063b562d2c8b6208"
            ]
        ]
    },
    {
        "id": "09367483814a4375",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "",
        "group": "7e566a81e6655eca",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1640,
        "wires": [
            [
                "652ad9493fbda555"
            ]
        ]
    },
    {
        "id": "50052891df74f02b",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Conductivity",
        "func": "var results = msg.payload;\nvar conduct_soil = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.conduct_soil).toFixed(2);\n\n    conduct_soil.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        conduct_soil\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1760,
        "wires": [
            [
                "b7906842e32ca339",
                "35106a0763f0643c"
            ]
        ]
    },
    {
        "id": "1708858422042adc",
        "type": "function",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Battery Voltage",
        "func": "var results = msg.payload;\nvar battery_voltage = [];\n\nfor (var i = 0; i < results.length; i++) {\n\n    var temp = parseFloat(results[i].data.battery_voltage).toFixed(2);\n\n    battery_voltage.push({\n        \"x\": results[i].timestamp,\n        \"y\": parseFloat(temp)\n    })\n}\n\nmsg.payload = [{\n    \"series\": [\"Water in Soil\"],\n    \"data\": [\n        battery_voltage\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1820,
        "wires": [
            [
                "683652e61fb6c32a",
                "a21b6429ee7db35a"
            ]
        ]
    },
    {
        "id": "8c52e8f5a76a03db",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Temperature of Soil",
        "group": "7e566a81e6655eca",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "62b661bb42354d96",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Water in Soil",
        "group": "7e566a81e6655eca",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b7906842e32ca339",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Conductivity of Soil",
        "group": "7e566a81e6655eca",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "683652e61fb6c32a",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Battery Voltage",
        "group": "7e566a81e6655eca",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "1befddb440ebe0e1",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "group": "7e566a81e6655eca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 5",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 540,
        "y": 1580,
        "wires": []
    },
    {
        "id": "786ac98442c97dbd",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "",
        "group": "07177cef4a16e738",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "18b7c18450f89d38"
            ]
        ]
    },
    {
        "id": "a162f7827e4eba45",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Select Time",
        "label": "Select Time",
        "group": "07177cef4a16e738",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload1",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload1": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "f186890926bb32cf"
            ]
        ]
    },
    {
        "id": "24a63a3a845b9b18",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Temperature of Soil",
        "group": "07177cef4a16e738",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d787a026ead01c66",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Water in Soil",
        "group": "07177cef4a16e738",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "62edc8a7a73d5ac5",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Conductivity of Soil",
        "group": "07177cef4a16e738",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7ca135f2c347d9c2",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "name": "Battery Voltage",
        "group": "07177cef4a16e738",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "66b726f81813406e",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "13194d74ba141af5",
        "group": "07177cef4a16e738",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "e1d0560fe496fb2f",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "",
        "group": "dcfb4c81b704c5b9",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "4d958da5dde3b87f"
            ]
        ]
    },
    {
        "id": "4d8140ddb77db6f8",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Select Time",
        "label": "Select Time",
        "group": "dcfb4c81b704c5b9",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload1",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload1": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "4ebf79e0bb35e80c"
            ]
        ]
    },
    {
        "id": "692a313a9995febf",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Temperature of Soil",
        "group": "dcfb4c81b704c5b9",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "37859277b31c3929",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Water in Soil",
        "group": "dcfb4c81b704c5b9",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "90218ac850cdfa75",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Conductivity of Soil",
        "group": "dcfb4c81b704c5b9",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "625346b025c599b9",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "name": "Battery Voltage",
        "group": "dcfb4c81b704c5b9",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b61c98bb5263e9fc",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "220f83ebf102e7bf",
        "group": "dcfb4c81b704c5b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3607e2a7017495d",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "",
        "group": "2ace20c313dc6130",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "6138042e238c887a"
            ]
        ]
    },
    {
        "id": "828183f93bec7bdf",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Select Time",
        "label": "Select Time",
        "group": "2ace20c313dc6130",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload1",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload1": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "2986385bc9c2db71"
            ]
        ]
    },
    {
        "id": "9da01625e14bc862",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Temperature of Soil",
        "group": "2ace20c313dc6130",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ed843ec4d5a1fba1",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Water in Soil",
        "group": "2ace20c313dc6130",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a7d838d661e714ea",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Conductivity of Soil",
        "group": "2ace20c313dc6130",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6706c4602dbb65fc",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "name": "Battery Voltage",
        "group": "2ace20c313dc6130",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "058035e3adfa90f2",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "899d9b9e2b22d539",
        "group": "2ace20c313dc6130",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 3",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 1160,
        "y": 820,
        "wires": []
    },
    {
        "id": "88d5d41b67325d09",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "",
        "group": "c9e43854125296e0",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1220,
        "wires": [
            [
                "4bebbe95db146bd0"
            ]
        ]
    },
    {
        "id": "4c87f51099aa2c0a",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Select Time",
        "label": "Select Time",
        "group": "c9e43854125296e0",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload1",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload1": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1460,
        "wires": [
            [
                "390be2e866892975"
            ]
        ]
    },
    {
        "id": "38a01fcf8fd63456",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Temperature of Soil",
        "group": "c9e43854125296e0",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "97281af6ee6cd475",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Water in Soil",
        "group": "c9e43854125296e0",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "b12104ace572564c",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Conductivity of Soil",
        "group": "c9e43854125296e0",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "017df30556722f8c",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "name": "Battery Voltage",
        "group": "c9e43854125296e0",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "b6628e5521baf231",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "2162d783c16cd16b",
        "group": "c9e43854125296e0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 4",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 1160,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8de9768da415dad6",
        "type": "ui_button",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "",
        "group": "3ab557bf8f377e10",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1600,
        "wires": [
            [
                "652ad9493fbda555"
            ]
        ]
    },
    {
        "id": "c6c8965321be71a2",
        "type": "ui_form",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Select Time",
        "label": "Select Time",
        "group": "3ab557bf8f377e10",
        "order": 7,
        "width": 4,
        "height": 5,
        "options": [
            {
                "label": "From",
                "value": "startDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To",
                "value": "endDate",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Download Data",
                "value": "dataDownload1",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "startDate": "",
            "endDate": "",
            "dataDownload1": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 190,
        "y": 1840,
        "wires": [
            [
                "e08d9d3911020d7e"
            ]
        ]
    },
    {
        "id": "512dc37d40698c7b",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Temperature of Soil",
        "group": "3ab557bf8f377e10",
        "order": 8,
        "width": 11,
        "height": 6,
        "label": "Temperature of Soil (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "063b562d2c8b6208",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Water in Soil",
        "group": "3ab557bf8f377e10",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Water in Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "35106a0763f0643c",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Conductivity of Soil",
        "group": "3ab557bf8f377e10",
        "order": 11,
        "width": 13,
        "height": 6,
        "label": "Conductivity of Soil",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "500",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "a21b6429ee7db35a",
        "type": "ui_chart",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "name": "Battery Voltage",
        "group": "3ab557bf8f377e10",
        "order": 12,
        "width": 13,
        "height": 6,
        "label": "Battery Voltage (volt)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "9b82a7bef292b644",
        "type": "ui_text",
        "z": "1c38872debedfd03",
        "g": "ef945f45d99b1f23",
        "group": "3ab557bf8f377e10",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device 5",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0f22ae",
        "x": 1160,
        "y": 1580,
        "wires": []
    },
    {
        "id": "38faa1b3336dd7a3",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 760,
        "wires": [
            [
                "4d0aa44a432fd785"
            ]
        ]
    },
    {
        "id": "4d0aa44a432fd785",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 1910,
        "y": 760,
        "wires": [
            [
                "024a49e7a8fc037e"
            ]
        ]
    },
    {
        "id": "024a49e7a8fc037e",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 760,
        "wires": [
            [
                "fdf207e61c35d108"
            ]
        ]
    },
    {
        "id": "fdf207e61c35d108",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2260,
        "y": 760,
        "wires": [
            [
                "2f3b76bb4e07f3ef"
            ]
        ]
    },
    {
        "id": "2f3b76bb4e07f3ef",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2460,
        "y": 760,
        "wires": [
            [
                "243cf21f76882347"
            ]
        ]
    },
    {
        "id": "243cf21f76882347",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "b0ba5a219f0523bb",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2660,
        "y": 760,
        "wires": [
            [
                "b31af473f6b7a5c7"
            ]
        ]
    },
    {
        "id": "b31af473f6b7a5c7",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2820,
        "y": 760,
        "wires": []
    },
    {
        "id": "d7a6e55d7b034ba4",
        "type": "http in",
        "z": "1c38872debedfd03",
        "name": "",
        "url": "soil_sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1540,
        "y": 1160,
        "wires": [
            [
                "1a0c985ce93243e7"
            ]
        ]
    },
    {
        "id": "1a0c985ce93243e7",
        "type": "file in",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": ".node-red/data/static_files/soil_sensor.csv",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1880,
        "y": 1160,
        "wires": [
            [
                "c62ed3556a7ec667"
            ]
        ]
    },
    {
        "id": "c62ed3556a7ec667",
        "type": "http response",
        "z": "1c38872debedfd03",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=\"Soil_sensor_data.csv\"",
            "Content-Type": "text/csv"
        },
        "x": 2150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6d78a181feba120c",
        "type": "switch",
        "z": "1c38872debedfd03",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "normal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "seperate",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 860,
        "wires": [
            [
                "38faa1b3336dd7a3"
            ],
            [
                "4a5bb8b987688acf"
            ]
        ]
    },
    {
        "id": "4a5bb8b987688acf",
        "type": "switch",
        "z": "1c38872debedfd03",
        "name": "",
        "property": "device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1670,
        "y": 980,
        "wires": [
            [
                "01f5611c48d6f503"
            ],
            [
                "f10e5aa8c862e2f2"
            ],
            [
                "949cc41721da5114"
            ],
            [
                "46fe5cf164364a12"
            ],
            [
                "5bae6dcf05480f7e"
            ]
        ]
    },
    {
        "id": "01f5611c48d6f503",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 900,
        "wires": [
            [
                "972ecd92acbc7d88"
            ]
        ]
    },
    {
        "id": "972ecd92acbc7d88",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 2050,
        "y": 900,
        "wires": [
            [
                "b64b2b5b873375e9"
            ]
        ]
    },
    {
        "id": "b64b2b5b873375e9",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 900,
        "wires": [
            [
                "572498a8012547fa"
            ]
        ]
    },
    {
        "id": "572498a8012547fa",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2400,
        "y": 900,
        "wires": [
            [
                "c4d5d35ae9a900f6"
            ]
        ]
    },
    {
        "id": "c4d5d35ae9a900f6",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2600,
        "y": 900,
        "wires": [
            [
                "e814be0b9c98937c"
            ]
        ]
    },
    {
        "id": "e814be0b9c98937c",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "07177cef4a16e738",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 900,
        "wires": [
            [
                "a4f776808a17223b"
            ]
        ]
    },
    {
        "id": "a4f776808a17223b",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 900,
        "wires": []
    },
    {
        "id": "f10e5aa8c862e2f2",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 940,
        "wires": [
            [
                "f5b8e8f0d35b2f48"
            ]
        ]
    },
    {
        "id": "f5b8e8f0d35b2f48",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 2050,
        "y": 940,
        "wires": [
            [
                "ecd0ea69624c7a4c"
            ]
        ]
    },
    {
        "id": "ecd0ea69624c7a4c",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 940,
        "wires": [
            [
                "19e2777a21dfe4d8"
            ]
        ]
    },
    {
        "id": "19e2777a21dfe4d8",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2400,
        "y": 940,
        "wires": [
            [
                "fd6c2f491ebde1aa"
            ]
        ]
    },
    {
        "id": "fd6c2f491ebde1aa",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2600,
        "y": 940,
        "wires": [
            [
                "0d50b60d7cfa0c38"
            ]
        ]
    },
    {
        "id": "0d50b60d7cfa0c38",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "dcfb4c81b704c5b9",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 940,
        "wires": [
            [
                "27e73adfae11aaaa"
            ]
        ]
    },
    {
        "id": "27e73adfae11aaaa",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 50",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 940,
        "wires": []
    },
    {
        "id": "949cc41721da5114",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 980,
        "wires": [
            [
                "2ed422b6c49772ee"
            ]
        ]
    },
    {
        "id": "2ed422b6c49772ee",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 2050,
        "y": 980,
        "wires": [
            [
                "cf6fba20d276b9e3"
            ]
        ]
    },
    {
        "id": "cf6fba20d276b9e3",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 980,
        "wires": [
            [
                "2a6f1232be56a62b"
            ]
        ]
    },
    {
        "id": "2a6f1232be56a62b",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2400,
        "y": 980,
        "wires": [
            [
                "25fa7129fcf2a7f1"
            ]
        ]
    },
    {
        "id": "25fa7129fcf2a7f1",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2600,
        "y": 980,
        "wires": [
            [
                "1a62828e817fcf5c"
            ]
        ]
    },
    {
        "id": "1a62828e817fcf5c",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "2ace20c313dc6130",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 980,
        "wires": [
            [
                "5e40d0f8190d8c7d"
            ]
        ]
    },
    {
        "id": "5e40d0f8190d8c7d",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 51",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 980,
        "wires": []
    },
    {
        "id": "46fe5cf164364a12",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1020,
        "wires": [
            [
                "29994ec349a97217"
            ]
        ]
    },
    {
        "id": "29994ec349a97217",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 2050,
        "y": 1020,
        "wires": [
            [
                "bdd61be740b5461a"
            ]
        ]
    },
    {
        "id": "bdd61be740b5461a",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 1020,
        "wires": [
            [
                "6bccc0b70c2e7b45"
            ]
        ]
    },
    {
        "id": "6bccc0b70c2e7b45",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2400,
        "y": 1020,
        "wires": [
            [
                "a58509c947bb951e"
            ]
        ]
    },
    {
        "id": "a58509c947bb951e",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2600,
        "y": 1020,
        "wires": [
            [
                "c2209a5bc9bce3cc"
            ]
        ]
    },
    {
        "id": "c2209a5bc9bce3cc",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "c9e43854125296e0",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 1020,
        "wires": [
            [
                "c686724c5f6a4f0e"
            ]
        ]
    },
    {
        "id": "c686724c5f6a4f0e",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 52",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5bae6dcf05480f7e",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "Data Download",
        "func": "var results = msg.payload;\nvar dataDownload = msg.dataDownload;\n\nvar processedData = [];\n\nif (dataDownload) {\n    for (var i = 0; i < results.length; i++) {\n        processedData.push({\n            device_id: results[i].device_id,\n            time: results[i].timestamp,\n            temp_soil: results[i].data.temp_soil,\n            water_soil: results[i].data.water_soil,\n            battery_voltage: results[i].data.battery_voltage,\n            conduct_soil: results[i].data.conduct_soil,\n            mod: results[i].data.mod,\n            i_flag: results[i].data.i_flag,\n            s_flag: results[i].data.s_flag\n        });\n    }\n}\n\nmsg.payload = processedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1060,
        "wires": [
            [
                "1c48984875253a5a"
            ]
        ]
    },
    {
        "id": "1c48984875253a5a",
        "type": "csv",
        "z": "1c38872debedfd03",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 2050,
        "y": 1060,
        "wires": [
            [
                "8cb6f5e0dedeb4a3"
            ]
        ]
    },
    {
        "id": "8cb6f5e0dedeb4a3",
        "type": "function",
        "z": "1c38872debedfd03",
        "name": "File Path",
        "func": "msg.path = '.node-red/data/static_files/soil_sensor.csv';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 1060,
        "wires": [
            [
                "4cf01fe581f8189e"
            ]
        ]
    },
    {
        "id": "4cf01fe581f8189e",
        "type": "file",
        "z": "1c38872debedfd03",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2400,
        "y": 1060,
        "wires": [
            [
                "2543b7814c797125"
            ]
        ]
    },
    {
        "id": "2543b7814c797125",
        "type": "trigger",
        "z": "1c38872debedfd03",
        "name": "",
        "op1": "open",
        "op2": "reset",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2600,
        "y": 1060,
        "wires": [
            [
                "7f98dba17965d922"
            ]
        ]
    },
    {
        "id": "7f98dba17965d922",
        "type": "ui_template",
        "z": "1c38872debedfd03",
        "group": "3ab557bf8f377e10",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload == \"open\") {\n                window.open(\"http://78.46.151.191:1880/soil_sensor\",\"_blank\");\n                \n            }\n        })\n    })(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 1060,
        "wires": [
            [
                "cd13e3ca73a8836e"
            ]
        ]
    },
    {
        "id": "cd13e3ca73a8836e",
        "type": "debug",
        "z": "1c38872debedfd03",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6c246c6eea0c6943",
        "type": "mongodb4-client",
        "name": "temp_sensor",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "kommdigital",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://spekterbangla:bPbpqQtXGUh8sQc1@cluster0.ujhky.mongodb.net/atlashub-prod-clone?retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "b0ba5a219f0523bb",
        "type": "ui_group",
        "name": "device1",
        "tab": "f806ccbe1d3a8e71",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab874b0e93334cc4",
        "type": "ui_group",
        "name": "device2",
        "tab": "f806ccbe1d3a8e71",
        "order": 2,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a60134d115fb105c",
        "type": "ui_group",
        "name": "device3",
        "tab": "f806ccbe1d3a8e71",
        "order": 3,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5ba2cb56977521d",
        "type": "ui_group",
        "name": "device4",
        "tab": "f806ccbe1d3a8e71",
        "order": 4,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e566a81e6655eca",
        "type": "ui_group",
        "name": "device5",
        "tab": "f806ccbe1d3a8e71",
        "order": 5,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07177cef4a16e738",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0430059312e83e8c",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcfb4c81b704c5b9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5cee6376e1eb2a66",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ace20c313dc6130",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "58ee202118ef70c8",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9e43854125296e0",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a76c2a7653d64d6b",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ab557bf8f377e10",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b0838b6eeeaeb895",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f806ccbe1d3a8e71",
        "type": "ui_tab",
        "name": "Soil Sensor Dashboard",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0430059312e83e8c",
        "type": "ui_tab",
        "name": "Device1",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5cee6376e1eb2a66",
        "type": "ui_tab",
        "name": "Device2",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "58ee202118ef70c8",
        "type": "ui_tab",
        "name": "Device3",
        "icon": "dashboard",
        "order": 15,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "a76c2a7653d64d6b",
        "type": "ui_tab",
        "name": "Device4",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b0838b6eeeaeb895",
        "type": "ui_tab",
        "name": "Device5",
        "icon": "dashboard",
        "order": 17,
        "disabled": false,
        "hidden": true
    }
]