soil_sensor.json
[
    {
        "id": "b50396a4b33e90b1",
        "type": "tab",
        "label": "Soil Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8663c14927fd9226",
        "type": "group",
        "z": "b50396a4b33e90b1",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "4563ed83471c21aa",
            "217978befbbbfa0c",
            "ad38ab9b71758c44",
            "fa31029b0d9ea44e",
            "264fdaff09f951a8",
            "70bd2598b3dc9752",
            "7aef85e93b48cfb8",
            "242be5c39dd97c35",
            "9d8ca530ce7a8fe6",
            "1d3c5cb12682fd44",
            "4be4a97e523353ae",
            "94ba9f44e774b5d3",
            "391e880e222365df",
            "89aef8527d89cfc8",
            "9dc3e010eb5a4c11",
            "10fd35a071370328"
        ],
        "x": 1234,
        "y": 79,
        "w": 1092,
        "h": 242
    },
    {
        "id": "ef9c31610e5d0f68",
        "type": "group",
        "z": "b50396a4b33e90b1",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "88a84be3b64723e7",
            "ad4aee3aba9644c0",
            "12220c8934a8d5b7",
            "a095e490b16fab97",
            "e9b8eef01fd2a5c9",
            "e493a72b0bf83b5f",
            "80b4ef5975bb134d",
            "961598c082d2c47d",
            "762c98afb44e9aeb",
            "375460a0719dbc93",
            "9a48ef428dca614c",
            "44d300d3131f5218",
            "9a8a18d3d1c5c708",
            "bb4ad7e6772dd40e",
            "47f9e8ee14e9d134",
            "5d7ff1bd846c255a"
        ],
        "x": 1234,
        "y": 359,
        "w": 1092,
        "h": 242
    },
    {
        "id": "f9895c6258bd1c27",
        "type": "group",
        "z": "b50396a4b33e90b1",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "7e794dc9e0edacb2",
            "2591a5c778a065c6",
            "e0abed3d2163abc6",
            "0c96686ab704d4a3",
            "a69916fc9b72e554",
            "a3049f0ee1b6c504",
            "a9ff9d312565c663",
            "7b23ca937567bd61",
            "92ede44d8f222de6",
            "5908878471cbcfc5",
            "3713f5157f517f7a",
            "5c4ab044b60a5b30",
            "549496de3c20a1cf",
            "253e08ddf55f68f1",
            "2e00a6a6c6c623e8",
            "31d3c9782a35c2d4"
        ],
        "x": 1234,
        "y": 639,
        "w": 1092,
        "h": 242
    },
    {
        "id": "bd7804f9d8f3f54e",
        "type": "group",
        "z": "b50396a4b33e90b1",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "86380fd3535c869f",
            "715cee35d0775154",
            "3bfdc79cfb70fd0f",
            "fad6c8443ba2f065",
            "c52338ba3fc4c3aa",
            "68fbc9c76508433f",
            "e0b9619d3d14673a",
            "3f486393d495b909",
            "07f14f3959225a89",
            "1ef4d418fa92becc",
            "28da842ed89ac72d",
            "dc4024092f5ab783",
            "47b7ed85e8856128",
            "089a301aae5b4c15",
            "15dce1e5381b6d10",
            "5cdeb5c1a9860cf2"
        ],
        "x": 2354,
        "y": 79,
        "w": 1092,
        "h": 242
    },
    {
        "id": "2185f0a93b1a69a0",
        "type": "group",
        "z": "b50396a4b33e90b1",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "6501355bea310b65",
            "aa4769aad8b6ad6a",
            "f253839774d062ac",
            "f37347ad4729ef61",
            "a63f09b922b31032",
            "102f9a8046479be3",
            "6186ef6303838264",
            "04e44647e56a6241",
            "0a69e6d48a811d85",
            "462212ccb183fc47",
            "4bda3f1fd6c91b56",
            "0991eff36f303ac4",
            "aecc06e6034e6e1a",
            "b73d41317baf1b0e",
            "5032bef450a8cca1",
            "4a378ff7ff3bf66f"
        ],
        "x": 2354,
        "y": 359,
        "w": 1092,
        "h": 242
    },
    {
        "id": "1e9e275c45386b39",
        "type": "mqtt in",
        "z": "b50396a4b33e90b1",
        "name": "Soil Sensor",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3b9fb07e0e6380c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "50e0e1d8807751fa",
                "31c3b31863422f79",
                "9d85abdad92ad821"
            ]
        ]
    },
    {
        "id": "50e0e1d8807751fa",
        "type": "debug",
        "z": "b50396a4b33e90b1",
        "name": "Soil Sensor Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "31c3b31863422f79",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "name": "Extracting Soil Sensor Data",
        "func": "var att = msg.payload.uplink_message.decoded_payload;\n\nvar data = {};\n\nif (att.BatV) {\n    data.battery_voltage = att.BatV;\n}\n\nif (att.Mod==0 || att.Mod ==1) {\n    data.mod = att.Mod;\n}\n\nif (att.conduct_SOIL) {\n    data.conduct_soil = att.conduct_SOIL;\n}\n\nif (att.i_flag == 0 || att.i_flag == 1) {\n    data.i_flag = att.i_flag;\n}\n\nif (att.s_flag == 0 || att.s_flag == 1) {\n    data.s_flag = att.s_flag;\n}\n\nif (att.temp_DS18B20) {\n    data.temp_DS18B20 = att.temp_DS18B20;\n}\n\nif (att.temp_SOIL) {\n    data.temp_soil = att.temp_SOIL;\n}\n\nif (att.water_SOIL) {\n    data.water_soil = att.water_SOIL\n}\n\nvar body = {\n    timestamp: new Date(msg.payload.received_at),\n    metadata: msg._msgid,\n    type: \"soil_sensor\",\n    device_id: msg.payload.end_device_ids.device_id,\n    data: data\n};\n\nmsg.payload = body;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "b49928c4445beeaa",
                "4563ed83471c21aa",
                "88a84be3b64723e7",
                "7e794dc9e0edacb2",
                "86380fd3535c869f",
                "6501355bea310b65",
                "65f3349637b23aa2",
                "e29db05210299c7d"
            ]
        ]
    },
    {
        "id": "65f3349637b23aa2",
        "type": "mongodb4",
        "z": "b50396a4b33e90b1",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "soil_sensor",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Storing Soil Data",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b49928c4445beeaa",
        "type": "debug",
        "z": "b50396a4b33e90b1",
        "name": "Soil Sensor Formatted Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "9d85abdad92ad821",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "name": "Checking Missing Data",
        "func": "var att = msg.payload.uplink_message.decoded_payload;\n\nvar error_messages = [];\n\nif (!att.BatV) {\n    error_messages.push(\"Battery voltage is missing\");\n}\n\nif (att.Mod !== 0 && att.Mod !== 1) {\n    error_messages.push(\"Mod is missing\");\n}\n\nif (!att.conduct_SOIL) {\n    error_messages.push(\"Conduct soil is missing\");\n}\n\nif (att.i_flag !== 0 && att.i_flag !==1) {\n    error_messages.push(\"i_flag is missing\");\n}\n\nif (att.s_flag !== 0 && att.s_flag !==1) {\n    error_messages.push(\"s_flag is missing\");\n}\n\nif (!att.temp_DS18B20) {\n    error_messages.push(\"temp_DS18B20 is missing\");\n}\n\nif (!att.temp_SOIL) {\n    error_messages.push(\"temp_SOIL is missing\");\n}\n\nif (!att.water_SOIL) {\n    error_messages.push(\"water_SOIL is missing\");\n}\n\nvar error_count = error_messages.length;\n\nmsg.error_count = error_count;\nmsg.error_messages = error_messages;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "ddb679c4a1261048"
            ]
        ]
    },
    {
        "id": "ddb679c4a1261048",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "name": "",
        "property": "error_count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "297f2ab8863bb817"
            ]
        ]
    },
    {
        "id": "297f2ab8863bb817",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "name": "Formatting Error Message",
        "func": "\nvar body = {\n    time: new Date(),\n    sensorId: msg.payload.end_device_ids.device_id,\n    sensorType: \"soil_sensor\",\n    metadata: {\n        logtype: \"error\",\n        logmsg: msg.error_messages\n    }\n};\n\nmsg.payload = body;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 600,
        "wires": [
            [
                "3506c0330210154a",
                "bfbd11ea7bdba8a8"
            ]
        ]
    },
    {
        "id": "bfbd11ea7bdba8a8",
        "type": "mongodb4",
        "z": "b50396a4b33e90b1",
        "clientNode": "6c246c6eea0c6943",
        "mode": "collection",
        "collection": "log",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "Storing Error Data",
        "x": 1030,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3506c0330210154a",
        "type": "debug",
        "z": "b50396a4b33e90b1",
        "name": "Error Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "4563ed83471c21aa",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device1",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "eui-a840412881881c6a",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 200,
        "wires": [
            [
                "217978befbbbfa0c",
                "ad38ab9b71758c44",
                "fa31029b0d9ea44e",
                "264fdaff09f951a8",
                "4be4a97e523353ae"
            ]
        ]
    },
    {
        "id": "217978befbbbfa0c",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device1 Temperature of Soil",
        "func": "// Parse the temp_soil string value to a float\nvar temp_soil = parseFloat(msg.payload.data.temp_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\ntemp_soil = Number(temp_soil);\n\n// Set the message payload and topic\nmsg.payload = temp_soil;\nmsg.topic = 'Temperature of Soil';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 120,
        "wires": [
            [
                "70bd2598b3dc9752",
                "94ba9f44e774b5d3"
            ]
        ]
    },
    {
        "id": "ad38ab9b71758c44",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device1 Water in Soil",
        "func": "// Parse the temp_soil string value to a float\nvar water_soil = parseFloat(msg.payload.data.water_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\nwater_soil = Number(water_soil);\n\n// Set the message payload and topic\nmsg.payload = water_soil;\nmsg.topic = 'Water in Soill';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 160,
        "wires": [
            [
                "242be5c39dd97c35",
                "89aef8527d89cfc8"
            ]
        ]
    },
    {
        "id": "fa31029b0d9ea44e",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device1 Battery Voltage",
        "func": "var battery_voltage = msg.payload.data.battery_voltage.toFixed(3);\nmsg.payload = battery_voltage;\nmsg.topic = 'Battery Voltage';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 200,
        "wires": [
            [
                "7aef85e93b48cfb8",
                "391e880e222365df"
            ]
        ]
    },
    {
        "id": "264fdaff09f951a8",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device1 Soil Conductivity",
        "func": "var conduct_soil = msg.payload.data.conduct_soil.toFixed(2);\nmsg.payload = conduct_soil;\nmsg.topic = 'Conductivity of Soil';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 240,
        "wires": [
            [
                "9d8ca530ce7a8fe6",
                "9dc3e010eb5a4c11"
            ]
        ]
    },
    {
        "id": "70bd2598b3dc9752",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Temperature of Soil Gauge",
        "group": "b0ba5a219f0523bb",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 120,
        "wires": []
    },
    {
        "id": "7aef85e93b48cfb8",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Battery Voltage Gauge",
        "group": "b0ba5a219f0523bb",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1860,
        "y": 200,
        "wires": []
    },
    {
        "id": "242be5c39dd97c35",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Temperature in Soil Gauge",
        "group": "b0ba5a219f0523bb",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 160,
        "wires": []
    },
    {
        "id": "9d8ca530ce7a8fe6",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Conductivity of Soil Gauge",
        "group": "b0ba5a219f0523bb",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 240,
        "wires": []
    },
    {
        "id": "1d3c5cb12682fd44",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "group": "b0ba5a219f0523bb",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 1820,
        "y": 280,
        "wires": []
    },
    {
        "id": "4be4a97e523353ae",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Device ID",
        "func": "var device_id = msg.payload.device_id;\nmsg.payload = device_id;\nmsg.topic = 'Device ID';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 280,
        "wires": [
            [
                "1d3c5cb12682fd44",
                "10fd35a071370328"
            ]
        ]
    },
    {
        "id": "88a84be3b64723e7",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device2",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "eui-a8404111d1881c80",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "ad4aee3aba9644c0",
                "12220c8934a8d5b7",
                "a095e490b16fab97",
                "e9b8eef01fd2a5c9",
                "9a48ef428dca614c"
            ]
        ]
    },
    {
        "id": "ad4aee3aba9644c0",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device1 Temperature of Soil",
        "func": "// Parse the temp_soil string value to a float\nvar temp_soil = parseFloat(msg.payload.data.temp_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\ntemp_soil = Number(temp_soil);\n\n// Set the message payload and topic\nmsg.payload = temp_soil;\nmsg.topic = 'Temperature of Soil';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "e493a72b0bf83b5f",
                "44d300d3131f5218"
            ]
        ]
    },
    {
        "id": "12220c8934a8d5b7",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device1 Water in Soil",
        "func": "// Parse the temp_soil string value to a float\nvar water_soil = parseFloat(msg.payload.data.water_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\nwater_soil = Number(water_soil);\n\n// Set the message payload and topic\nmsg.payload = water_soil;\nmsg.topic = 'Water in Soill';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 440,
        "wires": [
            [
                "961598c082d2c47d",
                "bb4ad7e6772dd40e"
            ]
        ]
    },
    {
        "id": "a095e490b16fab97",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device1 Battery Voltage",
        "func": "var battery_voltage = msg.payload.data.battery_voltage.toFixed(3);\nmsg.payload = battery_voltage;\nmsg.topic = 'Battery Voltage';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 480,
        "wires": [
            [
                "80b4ef5975bb134d",
                "9a8a18d3d1c5c708"
            ]
        ]
    },
    {
        "id": "e9b8eef01fd2a5c9",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device1 Soil Conductivity",
        "func": "var conduct_soil = msg.payload.data.conduct_soil.toFixed(2);\nmsg.payload = conduct_soil;\nmsg.topic = 'Conductivity of Soil';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 520,
        "wires": [
            [
                "762c98afb44e9aeb",
                "47f9e8ee14e9d134"
            ]
        ]
    },
    {
        "id": "e493a72b0bf83b5f",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Temperature of Soil Gauge",
        "group": "ab874b0e93334cc4",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 400,
        "wires": []
    },
    {
        "id": "80b4ef5975bb134d",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Battery Voltage Gauge",
        "group": "ab874b0e93334cc4",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1860,
        "y": 480,
        "wires": []
    },
    {
        "id": "961598c082d2c47d",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Temperature in Soil Gauge",
        "group": "ab874b0e93334cc4",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 440,
        "wires": []
    },
    {
        "id": "762c98afb44e9aeb",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Conductivity of Soil Gauge",
        "group": "ab874b0e93334cc4",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 520,
        "wires": []
    },
    {
        "id": "375460a0719dbc93",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "group": "ab874b0e93334cc4",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 1820,
        "y": 560,
        "wires": []
    },
    {
        "id": "9a48ef428dca614c",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Device ID",
        "func": "var device_id = msg.payload.device_id;\nmsg.payload = device_id;\nmsg.topic = 'Device ID';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 560,
        "wires": [
            [
                "375460a0719dbc93",
                "5d7ff1bd846c255a"
            ]
        ]
    },
    {
        "id": "7e794dc9e0edacb2",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device3",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "eui-a84041e0c1881c65",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 760,
        "wires": [
            [
                "2591a5c778a065c6",
                "e0abed3d2163abc6",
                "0c96686ab704d4a3",
                "a69916fc9b72e554",
                "3713f5157f517f7a"
            ]
        ]
    },
    {
        "id": "2591a5c778a065c6",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device1 Temperature of Soil",
        "func": "// Parse the temp_soil string value to a float\nvar temp_soil = parseFloat(msg.payload.data.temp_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\ntemp_soil = Number(temp_soil);\n\n// Set the message payload and topic\nmsg.payload = temp_soil;\nmsg.topic = 'Temperature of Soil';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 680,
        "wires": [
            [
                "a3049f0ee1b6c504",
                "5c4ab044b60a5b30"
            ]
        ]
    },
    {
        "id": "e0abed3d2163abc6",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device1 Water in Soil",
        "func": "// Parse the temp_soil string value to a float\nvar water_soil = parseFloat(msg.payload.data.water_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\nwater_soil = Number(water_soil);\n\n// Set the message payload and topic\nmsg.payload = water_soil;\nmsg.topic = 'Water in Soill';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 720,
        "wires": [
            [
                "7b23ca937567bd61",
                "253e08ddf55f68f1"
            ]
        ]
    },
    {
        "id": "0c96686ab704d4a3",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device1 Battery Voltage",
        "func": "var battery_voltage = msg.payload.data.battery_voltage.toFixed(3);\nmsg.payload = battery_voltage;\nmsg.topic = 'Battery Voltage';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 760,
        "wires": [
            [
                "a9ff9d312565c663",
                "549496de3c20a1cf"
            ]
        ]
    },
    {
        "id": "a69916fc9b72e554",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device1 Soil Conductivity",
        "func": "var conduct_soil = msg.payload.data.conduct_soil.toFixed(2);\nmsg.payload = conduct_soil;\nmsg.topic = 'Conductivity of Soil';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 800,
        "wires": [
            [
                "92ede44d8f222de6",
                "2e00a6a6c6c623e8"
            ]
        ]
    },
    {
        "id": "a3049f0ee1b6c504",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Temperature of Soil Gauge",
        "group": "a60134d115fb105c",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 680,
        "wires": []
    },
    {
        "id": "a9ff9d312565c663",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Battery Voltage Gauge",
        "group": "a60134d115fb105c",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1860,
        "y": 760,
        "wires": []
    },
    {
        "id": "7b23ca937567bd61",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Temperature in Soil Gauge",
        "group": "a60134d115fb105c",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 720,
        "wires": []
    },
    {
        "id": "92ede44d8f222de6",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Conductivity of Soil Gauge",
        "group": "a60134d115fb105c",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 1880,
        "y": 800,
        "wires": []
    },
    {
        "id": "5908878471cbcfc5",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "group": "a60134d115fb105c",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 1820,
        "y": 840,
        "wires": []
    },
    {
        "id": "3713f5157f517f7a",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Device ID",
        "func": "var device_id = msg.payload.device_id;\nmsg.payload = device_id;\nmsg.topic = 'Device ID';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 840,
        "wires": [
            [
                "5908878471cbcfc5",
                "31d3c9782a35c2d4"
            ]
        ]
    },
    {
        "id": "86380fd3535c869f",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device4",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "eui-a84041ffb1881c77",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2440,
        "y": 200,
        "wires": [
            [
                "715cee35d0775154",
                "3bfdc79cfb70fd0f",
                "fad6c8443ba2f065",
                "c52338ba3fc4c3aa",
                "28da842ed89ac72d"
            ]
        ]
    },
    {
        "id": "715cee35d0775154",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device1 Temperature of Soil",
        "func": "// Parse the temp_soil string value to a float\nvar temp_soil = parseFloat(msg.payload.data.temp_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\ntemp_soil = Number(temp_soil);\n\n// Set the message payload and topic\nmsg.payload = temp_soil;\nmsg.topic = 'Temperature of Soil';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2720,
        "y": 120,
        "wires": [
            [
                "68fbc9c76508433f",
                "dc4024092f5ab783"
            ]
        ]
    },
    {
        "id": "3bfdc79cfb70fd0f",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device1 Water in Soil",
        "func": "// Parse the temp_soil string value to a float\nvar water_soil = parseFloat(msg.payload.data.water_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\nwater_soil = Number(water_soil);\n\n// Set the message payload and topic\nmsg.payload = water_soil;\nmsg.topic = 'Water in Soill';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 160,
        "wires": [
            [
                "3f486393d495b909",
                "089a301aae5b4c15"
            ]
        ]
    },
    {
        "id": "fad6c8443ba2f065",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device1 Battery Voltage",
        "func": "var battery_voltage = msg.payload.data.battery_voltage.toFixed(3);\nmsg.payload = battery_voltage;\nmsg.topic = 'Battery Voltage';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 200,
        "wires": [
            [
                "e0b9619d3d14673a",
                "47b7ed85e8856128"
            ]
        ]
    },
    {
        "id": "c52338ba3fc4c3aa",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device1 Soil Conductivity",
        "func": "var conduct_soil = msg.payload.data.conduct_soil.toFixed(2);\nmsg.payload = conduct_soil;\nmsg.topic = 'Conductivity of Soil';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 240,
        "wires": [
            [
                "07f14f3959225a89",
                "15dce1e5381b6d10"
            ]
        ]
    },
    {
        "id": "68fbc9c76508433f",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Temperature of Soil Gauge",
        "group": "f5ba2cb56977521d",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0b9619d3d14673a",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Battery Voltage Gauge",
        "group": "f5ba2cb56977521d",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2980,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f486393d495b909",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Temperature in Soil Gauge",
        "group": "f5ba2cb56977521d",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 160,
        "wires": []
    },
    {
        "id": "07f14f3959225a89",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Conductivity of Soil Gauge",
        "group": "f5ba2cb56977521d",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 240,
        "wires": []
    },
    {
        "id": "1ef4d418fa92becc",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "group": "f5ba2cb56977521d",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 2940,
        "y": 280,
        "wires": []
    },
    {
        "id": "28da842ed89ac72d",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Device ID",
        "func": "var device_id = msg.payload.device_id;\nmsg.payload = device_id;\nmsg.topic = 'Device ID';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2660,
        "y": 280,
        "wires": [
            [
                "1ef4d418fa92becc",
                "5cdeb5c1a9860cf2"
            ]
        ]
    },
    {
        "id": "6501355bea310b65",
        "type": "switch",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device5",
        "property": "payload.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "eui-a840416c21881c78",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2440,
        "y": 480,
        "wires": [
            [
                "aa4769aad8b6ad6a",
                "f253839774d062ac",
                "f37347ad4729ef61",
                "a63f09b922b31032",
                "4bda3f1fd6c91b56"
            ]
        ]
    },
    {
        "id": "aa4769aad8b6ad6a",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device1 Temperature of Soil",
        "func": "// Parse the temp_soil string value to a float\nvar temp_soil = parseFloat(msg.payload.data.temp_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\ntemp_soil = Number(temp_soil);\n\n// Set the message payload and topic\nmsg.payload = temp_soil;\nmsg.topic = 'Temperature of Soil';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2720,
        "y": 400,
        "wires": [
            [
                "102f9a8046479be3",
                "0991eff36f303ac4"
            ]
        ]
    },
    {
        "id": "f253839774d062ac",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device1 Water in Soil",
        "func": "// Parse the temp_soil string value to a float\nvar water_soil = parseFloat(msg.payload.data.water_soil).toFixed(2);\n\n// Convert temp_soil back to a number to ensure it's a decimal\nwater_soil = Number(water_soil);\n\n// Set the message payload and topic\nmsg.payload = water_soil;\nmsg.topic = 'Water in Soill';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 440,
        "wires": [
            [
                "04e44647e56a6241",
                "b73d41317baf1b0e"
            ]
        ]
    },
    {
        "id": "f37347ad4729ef61",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device1 Battery Voltage",
        "func": "var battery_voltage = msg.payload.data.battery_voltage.toFixed(3);\nmsg.payload = battery_voltage;\nmsg.topic = 'Battery Voltage';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 480,
        "wires": [
            [
                "6186ef6303838264",
                "aecc06e6034e6e1a"
            ]
        ]
    },
    {
        "id": "a63f09b922b31032",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device1 Soil Conductivity",
        "func": "var conduct_soil = msg.payload.data.conduct_soil.toFixed(2);\nmsg.payload = conduct_soil;\nmsg.topic = 'Conductivity of Soil';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 520,
        "wires": [
            [
                "0a69e6d48a811d85",
                "5032bef450a8cca1"
            ]
        ]
    },
    {
        "id": "102f9a8046479be3",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Temperature of Soil Gauge",
        "group": "7e566a81e6655eca",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 400,
        "wires": []
    },
    {
        "id": "6186ef6303838264",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Battery Voltage Gauge",
        "group": "7e566a81e6655eca",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2980,
        "y": 480,
        "wires": []
    },
    {
        "id": "04e44647e56a6241",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Temperature in Soil Gauge",
        "group": "7e566a81e6655eca",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 440,
        "wires": []
    },
    {
        "id": "0a69e6d48a811d85",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Conductivity of Soil Gauge",
        "group": "7e566a81e6655eca",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 3000,
        "y": 520,
        "wires": []
    },
    {
        "id": "462212ccb183fc47",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "group": "7e566a81e6655eca",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 2940,
        "y": 560,
        "wires": []
    },
    {
        "id": "4bda3f1fd6c91b56",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Device ID",
        "func": "var device_id = msg.payload.device_id;\nmsg.payload = device_id;\nmsg.topic = 'Device ID';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2660,
        "y": 560,
        "wires": [
            [
                "462212ccb183fc47",
                "4a378ff7ff3bf66f"
            ]
        ]
    },
    {
        "id": "e29db05210299c7d",
        "type": "function",
        "z": "b50396a4b33e90b1",
        "name": "Soil Sensor Summary",
        "func": "var att = msg.payload;\nvar sensor = att.device_id;\n\n// Retrieve existing sensor data from context\nvar data = context.get('sensorData') || {\n    sensor_id1: 'eui-a840412881881c6a',\n    temp_soil1: null,\n    water_soil1: null,\n    sensor_id2: 'eui-a840412881881c6a',\n    temp_soil2: null,\n    water_soil2: null,\n    sensor_id3: 'eui-a84041e0c1881c65',\n    temp_soil3: null,\n    water_soil3: null,\n    sensor_id4: 'eui-a84041ffb1881c77',\n    temp_soil4: null,\n    water_soil4: null,\n    sensor_id5: 'eui-a840416c21881c78',\n    temp_soil5: null,\n    water_soil5: null\n};\n\n// Update the relevant sensor data\nif (sensor == 'eui-a840412881881c6a') {\n    data.temp_soil1 = parseFloat(att.data.temp_soil).toFixed(2);\n    data.water_soil1 = att.data.water_soil;\n}\n\nif (sensor == 'eui-a840412881881c6a') {\n    data.temp_soil2 = parseFloat(att.data.temp_soil).toFixed(2);\n    data.water_soil2 = att.data.water_soil;\n}\n\nif (sensor == 'eui-a84041e0c1881c65') {\n    data.temp_soil3 = parseFloat(att.data.temp_soil).toFixed(2);\n    data.water_soil3 = att.data.water_soil;\n}\n\nif (sensor == 'eui-a84041ffb1881c77') {\n    data.temp_soil4 = parseFloat(att.data.temp_soil).toFixed(2);\n    data.water_soil4 = att.data.water_soil;\n}\n\nif (sensor == 'eui-a840416c21881c78') {\n    data.temp_soil5 = parseFloat(att.data.temp_soil).toFixed(2);\n    data.water_soil5 = att.data.water_soil;\n}\n\n// Store the updated data back in context\ncontext.set('sensorData', data);\n\n// Set the updated data as the message payload\nmsg.payload = data;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 720,
        "wires": [
            [
                "7606d531339c3610"
            ]
        ]
    },
    {
        "id": "7606d531339c3610",
        "type": "ui_template",
        "z": "b50396a4b33e90b1",
        "group": "80171453c5dc622f",
        "name": "Soil Sensor Table",
        "order": 2,
        "width": 14,
        "height": "8",
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Soil Sensor</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js\"></script>\n    <style>\n        .normal {\n            background-color: #85dc85 !important;\n        }\n        .orange {\n            background-color: #f4d03f  !important; \n        }\n        .red {\n            background-color: #e74c3c  !important;\n        }\n\n        .col-sensor {\n            width: 30%;\n        }\n        .col-temp {\n            width: 25%;\n        }\n        .col-humidity {\n            width: 25%;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <table class=\"table table-striped table-bordered table-hover text-center\">\n            <thead class=\"table-primary\">\n                <tr>\n                    <th class=\"col-sensor\">Sensor ID</th>\n                    <th class=\"col-temp\">Soil Temperature (°C)</th>\n                    <th class=\"col-humidity\">Soil Water</th>\n                </tr>\n            </thead>\n            <tbody>\n                <tr>\n                    <td><a href=\"#!/11?socketid=P6thRpRp8T7Or8VCAAaF\" target=\"_blank\"><button class=\"btn btn-light\">{{msg.payload.sensor_id1}}</button></a></td>\n\n                    <td ng-class=\"{'normal': msg.payload.temp_soil1<=18, 'orange': msg.payload.temp_soil1>18 && msg.payload.temp_soil1<=22, 'red':msg.payload.temp_soil1>22}\">{{msg.payload.temp_soil1}}</td>\n\n                    <td ng-class=\"{'normal': msg.payload.water_soil1<=25, 'orange': msg.payload.water_soil1>25 && msg.payload.water_soil1<=45, 'red':msg.payload.water_soil1>45}\">{{msg.payload.water_soil1}}</td>\n                    \n                </tr>\n                <tr>\n                    <td><a href=\"#!/12?socketid=P6thRpRp8T7Or8VCAAaF\" target=\"_blank\"><button class=\"btn btn-light\">{{msg.payload.sensor_id2}}</button></a></td>\n\n                    <td ng-class=\"{'normal': msg.payload.temp_soil2<=18, 'orange': msg.payload.temp_soil2>18 && msg.payload.temp_soil2<=22, 'red':msg.payload.temp_soil2>22}\">{{msg.payload.temp_soil2}}</td>\n\n                    <td ng-class=\"{'normal': msg.payload.water_soil2<=25, 'orange': msg.payload.water_soil2>25 && msg.payload.water_soil2<=45, 'red':msg.payload.water_soil2>45}\">{{msg.payload.water_soil2}}</td>\n                    \n                </tr>\n                <tr>\n                    <td><a href=\"#!/13?socketid=P6thRpRp8T7Or8VCAAaF\" target=\"_blank\"><button class=\"btn btn-light\">{{msg.payload.sensor_id3}}</button></a></td>\n\n                    <td ng-class=\"{'normal': msg.payload.temp_soil3<=18, 'orange': msg.payload.temp_soil3>18 && msg.payload.temp_soil3<=22, 'red':msg.payload.temp_soil3>22}\">{{msg.payload.temp_soil3}}</td>\n\n                    <td ng-class=\"{'normal': msg.payload.water_soil3<=25, 'orange': msg.payload.water_soil3>25 && msg.payload.water_soil3<=45, 'red':msg.payload.water_soil3>45}\">{{msg.payload.water_soil3}}</td>\n                    \n                </tr>\n                <tr>\n                    <td><a href=\"#!/14?socketid=P6thRpRp8T7Or8VCAAaF\" target=\"_blank\"><button class=\"btn btn-light\">{{msg.payload.sensor_id4}}</button></a></td>\n\n                    <td ng-class=\"{'normal': msg.payload.temp_soil4<=18, 'orange': msg.payload.temp_soil4>18 && msg.payload.temp_soil4<=22, 'red':msg.payload.temp_soil4>22}\">{{msg.payload.temp_soil4}}</td>\n\n                    <td ng-class=\"{'normal': msg.payload.water_soil4<=25, 'orange': msg.payload.water_soil4>25 && msg.payload.water_soil4<=45, 'red':msg.payload.water_soil4>45}\">{{msg.payload.water_soil4}}</td>\n                    \n                </tr>\n                <tr>\n                    <td><a href=\"#!/15?socketid=rPhLCHLGC2EpLY5gAAaQ\" target=\"_blank\"><button class=\"btn btn-light\">{{msg.payload.sensor_id5}}</button></a></td>\n\n                    <td ng-class=\"{'normal': msg.payload.temp_soil5<=18, 'orange': msg.payload.temp_soil5>18 && msg.payload.temp_soil5<=22, 'red':msg.payload.temp_soil5>22}\">{{msg.payload.temp_soil5}}</td>\n\n                    <td ng-class=\"{'normal': msg.payload.water_soil5<=25, 'orange': msg.payload.water_soil5>25 && msg.payload.water_soil5<=45, 'red':msg.payload.water_soil5>45}\">{{msg.payload.water_soil5}}</td>\n                    \n                </tr>\n               \n            </tbody>\n        </table>\n    </div>\n</body>\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "94ba9f44e774b5d3",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Temperature of Soil Gauge",
        "group": "07177cef4a16e738",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 120,
        "wires": []
    },
    {
        "id": "391e880e222365df",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Battery Voltage Gauge",
        "group": "07177cef4a16e738",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2160,
        "y": 200,
        "wires": []
    },
    {
        "id": "89aef8527d89cfc8",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Temperature in Soil Gauge",
        "group": "07177cef4a16e738",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 160,
        "wires": []
    },
    {
        "id": "9dc3e010eb5a4c11",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "name": "Conductivity of Soil Gauge",
        "group": "07177cef4a16e738",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 240,
        "wires": []
    },
    {
        "id": "10fd35a071370328",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "8663c14927fd9226",
        "group": "07177cef4a16e738",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 2120,
        "y": 280,
        "wires": []
    },
    {
        "id": "44d300d3131f5218",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Temperature of Soil Gauge",
        "group": "dcfb4c81b704c5b9",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a8a18d3d1c5c708",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Battery Voltage Gauge",
        "group": "dcfb4c81b704c5b9",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2160,
        "y": 480,
        "wires": []
    },
    {
        "id": "bb4ad7e6772dd40e",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Temperature in Soil Gauge",
        "group": "dcfb4c81b704c5b9",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 440,
        "wires": []
    },
    {
        "id": "47f9e8ee14e9d134",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "name": "Conductivity of Soil Gauge",
        "group": "dcfb4c81b704c5b9",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 520,
        "wires": []
    },
    {
        "id": "5d7ff1bd846c255a",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "ef9c31610e5d0f68",
        "group": "dcfb4c81b704c5b9",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 2120,
        "y": 560,
        "wires": []
    },
    {
        "id": "5c4ab044b60a5b30",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Temperature of Soil Gauge",
        "group": "2ace20c313dc6130",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 680,
        "wires": []
    },
    {
        "id": "549496de3c20a1cf",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Battery Voltage Gauge",
        "group": "2ace20c313dc6130",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2160,
        "y": 760,
        "wires": []
    },
    {
        "id": "253e08ddf55f68f1",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Temperature in Soil Gauge",
        "group": "2ace20c313dc6130",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 720,
        "wires": []
    },
    {
        "id": "2e00a6a6c6c623e8",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "name": "Conductivity of Soil Gauge",
        "group": "2ace20c313dc6130",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 2180,
        "y": 800,
        "wires": []
    },
    {
        "id": "31d3c9782a35c2d4",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "f9895c6258bd1c27",
        "group": "2ace20c313dc6130",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 2120,
        "y": 840,
        "wires": []
    },
    {
        "id": "dc4024092f5ab783",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Temperature of Soil Gauge",
        "group": "c9e43854125296e0",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 120,
        "wires": []
    },
    {
        "id": "47b7ed85e8856128",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Battery Voltage Gauge",
        "group": "c9e43854125296e0",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3280,
        "y": 200,
        "wires": []
    },
    {
        "id": "089a301aae5b4c15",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Temperature in Soil Gauge",
        "group": "c9e43854125296e0",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 160,
        "wires": []
    },
    {
        "id": "15dce1e5381b6d10",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "name": "Conductivity of Soil Gauge",
        "group": "c9e43854125296e0",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 240,
        "wires": []
    },
    {
        "id": "5cdeb5c1a9860cf2",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "bd7804f9d8f3f54e",
        "group": "c9e43854125296e0",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 3240,
        "y": 280,
        "wires": []
    },
    {
        "id": "0991eff36f303ac4",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Temperature of Soil Gauge",
        "group": "3ab557bf8f377e10",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 400,
        "wires": []
    },
    {
        "id": "aecc06e6034e6e1a",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Battery Voltage Gauge",
        "group": "3ab557bf8f377e10",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "wave",
        "title": "Battery Voltage",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3280,
        "y": 480,
        "wires": []
    },
    {
        "id": "b73d41317baf1b0e",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Temperature in Soil Gauge",
        "group": "3ab557bf8f377e10",
        "order": 4,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Water",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 440,
        "wires": []
    },
    {
        "id": "5032bef450a8cca1",
        "type": "ui_gauge",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "name": "Conductivity of Soil Gauge",
        "group": "3ab557bf8f377e10",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "donut",
        "title": "Soil Conductivity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 3300,
        "y": 520,
        "wires": []
    },
    {
        "id": "4a378ff7ff3bf66f",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "g": "2185f0a93b1a69a0",
        "group": "3ab557bf8f377e10",
        "order": 6,
        "width": 6,
        "height": 3,
        "name": "Device ID",
        "label": "Device ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 3240,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d9119479236c712",
        "type": "ui_text",
        "z": "b50396a4b33e90b1",
        "group": "80171453c5dc622f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "20",
        "color": "#0527b3",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "3b9fb07e0e6380c8",
        "type": "mqtt-broker",
        "name": "Soil Sensor",
        "broker": "eu1.cloud.thethings.industries",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c246c6eea0c6943",
        "type": "mongodb4-client",
        "name": "temp_sensor",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "kommdigital",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://spekterbangla:bPbpqQtXGUh8sQc1@cluster0.ujhky.mongodb.net/atlashub-prod-clone?retryWrites=true&w=majority",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "b0ba5a219f0523bb",
        "type": "ui_group",
        "name": "device1",
        "tab": "f806ccbe1d3a8e71",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab874b0e93334cc4",
        "type": "ui_group",
        "name": "device2",
        "tab": "f806ccbe1d3a8e71",
        "order": 2,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a60134d115fb105c",
        "type": "ui_group",
        "name": "device3",
        "tab": "f806ccbe1d3a8e71",
        "order": 3,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5ba2cb56977521d",
        "type": "ui_group",
        "name": "device4",
        "tab": "f806ccbe1d3a8e71",
        "order": 4,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e566a81e6655eca",
        "type": "ui_group",
        "name": "device5",
        "tab": "f806ccbe1d3a8e71",
        "order": 5,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80171453c5dc622f",
        "type": "ui_group",
        "name": "temp_sensor",
        "tab": "625d8c7324cc3ebd",
        "order": 3,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07177cef4a16e738",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0430059312e83e8c",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcfb4c81b704c5b9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5cee6376e1eb2a66",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ace20c313dc6130",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "58ee202118ef70c8",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9e43854125296e0",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a76c2a7653d64d6b",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ab557bf8f377e10",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b0838b6eeeaeb895",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f806ccbe1d3a8e71",
        "type": "ui_tab",
        "name": "Soil Sensor Dashboard",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "625d8c7324cc3ebd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "mi-home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0430059312e83e8c",
        "type": "ui_tab",
        "name": "Device1",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5cee6376e1eb2a66",
        "type": "ui_tab",
        "name": "Device2",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "58ee202118ef70c8",
        "type": "ui_tab",
        "name": "Device3",
        "icon": "dashboard",
        "order": 15,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "a76c2a7653d64d6b",
        "type": "ui_tab",
        "name": "Device4",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b0838b6eeeaeb895",
        "type": "ui_tab",
        "name": "Device5",
        "icon": "dashboard",
        "order": 17,
        "disabled": false,
        "hidden": true
    }
]